@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Gwendolyn:wght@700&family=Raleway+Dots&display=swap');
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
    background-color: #352D4D;
    vertical-align: 50% ;
}

#clock { 
    position: absolute;
    top: 16%;
    left: 16%;
    height: 20vh;
	width: 60vh;
    /* border-radius: 0.5in;
    border-style: solid;
    border-width: 13px;
    border-color: #69AFC0;
	background-color: #6D6191; */
	float: center;
    color: #91DFA8;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 150px;
    padding-top:20px ;
    vertical-align: 50% ;
    font-family: 'Raleway Dots', cursive; 
}
svg {
    display: center;
	align-items: center;
	justify-content: center;
    height: 60%;
    width: 60%;
}
footer{
    color: lavender;
    text-align: center;
}